In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime as dt
import json
import csv
import pytemperature as pyt
from pprint import pprint

# Import API key
from api_keys import api_key

# files to Load
cpd_crime2018_load = "Resources/Crimes_-_2018.csv"
cpd_crime2017_load = "Resources/Crimes_-_2017.csv"
cpd_crime2016_load = "Resources/Crimes_-_2016.csv"
cpd_crime2015_load = "Resources/Crimes_-_2015.csv"
cpd_crime2014_load = "Resources/Crimes_-_2014.csv"

# read CPD crime data and store
cpdcrime2018_data = pd.read_csv(cpd_crime2018_load)
cpdcrime2017_data = pd.read_csv(cpd_crime2017_load)
cpdcrime2016_data = pd.read_csv(cpd_crime2016_load)
cpdcrime2015_data = pd.read_csv(cpd_crime2015_load)
cpdcrime2014_data = pd.read_csv(cpd_crime2014_load)

In [2]:
#pull column data and drop NaN 
cpdcrime2018_data = cpdcrime2018_data[['Date', 'Primary Type']]
cpdcrime2018_data = cpdcrime2018_data.dropna(how='any')

cpdcrime2017_data = cpdcrime2017_data[['Date', 'Primary Type']]
cpdcrime2017_data = cpdcrime2017_data.dropna(how='any')

cpdcrime2016_data = cpdcrime2016_data[['Date', 'Primary Type']]
cpdcrime2016_data = cpdcrime2016_data.dropna(how='any')

cpdcrime2015_data = cpdcrime2015_data[['Date', 'Primary Type']]
cpdcrime2015_data = cpdcrime2015_data.dropna(how='any')

cpdcrime2014_data = cpdcrime2014_data[['Date', 'Primary Type']]
cpdcrime2014_data = cpdcrime2014_data.dropna(how='any')

In [3]:
#use to check outputs
#cpdcrime2018_data.head()
#cpdcrime2017_data.head()
#cpdcrime2016_data.head()
#cpdcrime2015_data.head()
#cpdcrime2014_data.head()

In [4]:
#create series with the date of each reported incident by primary type
battery18 = cpdcrime2018_data[cpdcrime2018_data['Primary Type'] == "BATTERY"]["Date"].reset_index()
battery17 = cpdcrime2017_data[cpdcrime2017_data['Primary Type'] == "BATTERY"]["Date"].reset_index()
battery16 = cpdcrime2016_data[cpdcrime2016_data['Primary Type'] == "BATTERY"]["Date"].reset_index()
battery15 = cpdcrime2015_data[cpdcrime2015_data['Primary Type'] == "BATTERY"]["Date"].reset_index()
battery14 = cpdcrime2014_data[cpdcrime2014_data['Primary Type'] == "BATTERY"]["Date"].reset_index()

#format date to be mergeable with weather data 
battery18['Date'] = pd.to_datetime(battery18['Date']).dt.date
battery18['Date'] = pd.to_datetime(battery18['Date'], infer_datetime_format=True)
battery17['Date'] = pd.to_datetime(battery17['Date']).dt.date
battery17['Date'] = pd.to_datetime(battery17['Date'], infer_datetime_format=True)
battery16['Date'] = pd.to_datetime(battery16['Date']).dt.date
battery16['Date'] = pd.to_datetime(battery16['Date'], infer_datetime_format=True)
battery15['Date'] = pd.to_datetime(battery15['Date']).dt.date
battery15['Date'] = pd.to_datetime(battery15['Date'], infer_datetime_format=True)
battery14['Date'] = pd.to_datetime(battery14['Date']).dt.date
battery14['Date'] = pd.to_datetime(battery14['Date'], infer_datetime_format=True)

#sort date data for chronological order
battery18.sort_values("Date", inplace=True)
battery17.sort_values("Date", inplace=True)
battery16.sort_values("Date", inplace=True)
battery15.sort_values("Date", inplace=True)
battery14.sort_values("Date", inplace=True)

#create number of reported incidents by date 
battery18['Reported Incidents'] = battery18['Date'].map(battery18['Date'].value_counts())
battery17['Reported Incidents'] = battery17['Date'].map(battery17['Date'].value_counts())
battery16['Reported Incidents'] = battery16['Date'].map(battery16['Date'].value_counts())
battery15['Reported Incidents'] = battery15['Date'].map(battery15['Date'].value_counts())
battery14['Reported Incidents'] = battery14['Date'].map(battery14['Date'].value_counts())

#set index to date and drop duplicate data
battery18.set_index('Date')
battery18.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
battery17.set_index('Date')
battery17.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
battery16.set_index('Date')
battery16.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
battery15.set_index('Date')
battery15.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
battery14.set_index('Date')
battery14.drop_duplicates(subset ="Date", keep = 'first', inplace = True)

#delete unnecessary index column
del battery18['index']
del battery17['index']
del battery16['index']
del battery15['index']
del battery14['index']

#merge all reported battery incidents for all five years
battery_all = battery18.append([battery17, battery16, battery15, battery14])

In [5]:
#use to check output
#battery18
#battery18.dtypes
#battery17
#battery17.dtypes
#battery16
#battery16.dtypes
#battery15
#battery15.dtypes
#battery14
#battery14.dtypes
#battery_all
#battery_all.dtypes

In [6]:
#create series with the date of each reported incident by primary type
csa18 = cpdcrime2018_data[cpdcrime2018_data['Primary Type'] == "CRIM SEXUAL ASSAULT"]["Date"].reset_index()
csa17 = cpdcrime2017_data[cpdcrime2017_data['Primary Type'] == "CRIM SEXUAL ASSAULT"]["Date"].reset_index()
csa16 = cpdcrime2016_data[cpdcrime2016_data['Primary Type'] == "CRIM SEXUAL ASSAULT"]["Date"].reset_index()
csa15 = cpdcrime2015_data[cpdcrime2015_data['Primary Type'] == "CRIM SEXUAL ASSAULT"]["Date"].reset_index()
csa14 = cpdcrime2014_data[cpdcrime2014_data['Primary Type'] == "CRIM SEXUAL ASSAULT"]["Date"].reset_index()

#format date in dataframe to be mergeable with weather data 
csa18['Date'] = pd.to_datetime(csa18['Date']).dt.date
csa18['Date'] = pd.to_datetime(csa18['Date'], infer_datetime_format=True)
csa17['Date'] = pd.to_datetime(csa17['Date']).dt.date
csa17['Date'] = pd.to_datetime(csa17['Date'], infer_datetime_format=True)
csa16['Date'] = pd.to_datetime(csa16['Date']).dt.date
csa16['Date'] = pd.to_datetime(csa16['Date'], infer_datetime_format=True)
csa15['Date'] = pd.to_datetime(csa15['Date']).dt.date
csa15['Date'] = pd.to_datetime(csa15['Date'], infer_datetime_format=True)
csa14['Date'] = pd.to_datetime(csa14['Date']).dt.date
csa14['Date'] = pd.to_datetime(csa14['Date'], infer_datetime_format=True)

#sort date data for chronological order
csa18.sort_values("Date", inplace=True)
csa17.sort_values("Date", inplace=True)
csa16.sort_values("Date", inplace=True)
csa15.sort_values("Date", inplace=True)
csa14.sort_values("Date", inplace=True)

#create number of reported incidents by date 
csa18['Reported Incidents'] = csa18['Date'].map(csa18['Date'].value_counts())
csa17['Reported Incidents'] = csa17['Date'].map(csa17['Date'].value_counts())
csa16['Reported Incidents'] = csa16['Date'].map(csa16['Date'].value_counts())
csa15['Reported Incidents'] = csa15['Date'].map(csa15['Date'].value_counts())
csa14['Reported Incidents'] = csa14['Date'].map(csa14['Date'].value_counts())

#set index to date and drop duplicate data
csa18.set_index('Date')
csa18.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
csa17.set_index('Date')
csa17.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
csa16.set_index('Date')
csa16.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
csa15.set_index('Date')
csa15.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
csa14.set_index('Date')
csa14.drop_duplicates(subset ="Date", keep = 'first', inplace = True)


#delete unnecessary index column
del csa18['index']
del csa17['index']
del csa16['index']
del csa15['index']
del csa14['index']

#merge all reported criminal sexual assault incidents for all five years
csa_all = csa18.append([csa17, csa16, csa15, csa14])

In [7]:
#use to check output
#csa18
#csa18.dtypes
#csa17
#csa17.dtypes
#csa16
#csa16.dtypes
#csa15
#csa15.dtypes
#csa14
#csa14.dtypes
#csa_all
#csa_all.dtypes

In [8]:
#create series with the date of each reported incident by primary type
homicide18 = cpdcrime2018_data[cpdcrime2018_data['Primary Type'] == "HOMICIDE"]["Date"].reset_index()
homicide17 = cpdcrime2017_data[cpdcrime2017_data['Primary Type'] == "HOMICIDE"]["Date"].reset_index()
homicide16 = cpdcrime2016_data[cpdcrime2016_data['Primary Type'] == "HOMICIDE"]["Date"].reset_index()
homicide15 = cpdcrime2015_data[cpdcrime2015_data['Primary Type'] == "HOMICIDE"]["Date"].reset_index()
homicide14 = cpdcrime2014_data[cpdcrime2014_data['Primary Type'] == "HOMICIDE"]["Date"].reset_index()

#format date in dataframe to be mergeable with weather data 
homicide18['Date'] = pd.to_datetime(homicide18['Date']).dt.date
homicide18['Date'] = pd.to_datetime(homicide18['Date'], infer_datetime_format=True)
homicide17['Date'] = pd.to_datetime(homicide17['Date']).dt.date
homicide17['Date'] = pd.to_datetime(homicide17['Date'], infer_datetime_format=True)
homicide16['Date'] = pd.to_datetime(homicide16['Date']).dt.date
homicide16['Date'] = pd.to_datetime(homicide16['Date'], infer_datetime_format=True)
homicide15['Date'] = pd.to_datetime(homicide15['Date']).dt.date
homicide15['Date'] = pd.to_datetime(homicide15['Date'], infer_datetime_format=True)
homicide14['Date'] = pd.to_datetime(homicide14['Date']).dt.date
homicide14['Date'] = pd.to_datetime(homicide14['Date'], infer_datetime_format=True)

#sort date data for chronological order
homicide18.sort_values("Date", inplace=True)
homicide17.sort_values("Date", inplace=True)
homicide16.sort_values("Date", inplace=True)
homicide15.sort_values("Date", inplace=True)
homicide14.sort_values("Date", inplace=True)

#create number of reported incidents by date 
homicide18['Reported Incidents'] = homicide18['Date'].map(homicide18['Date'].value_counts())
homicide17['Reported Incidents'] = homicide17['Date'].map(homicide17['Date'].value_counts())
homicide16['Reported Incidents'] = homicide16['Date'].map(homicide16['Date'].value_counts())
homicide15['Reported Incidents'] = homicide15['Date'].map(homicide15['Date'].value_counts())
homicide14['Reported Incidents'] = homicide14['Date'].map(homicide14['Date'].value_counts())

#set index to date and drop duplicate data
homicide18.set_index('Date')
homicide18.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
homicide17.set_index('Date')
homicide17.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
homicide16.set_index('Date')
homicide16.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
homicide15.set_index('Date')
homicide15.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
homicide14.set_index('Date')
homicide14.drop_duplicates(subset ="Date", keep = 'first', inplace = True)


#delete unnecessary index column
del homicide18['index']
del homicide17['index']
del homicide16['index']
del homicide15['index']
del homicide14['index']


#merge all reported homicide incidents for all five years
homicide_all = homicide18.append([homicide17, homicide16, homicide15, homicide14])

In [9]:
#use to check output
#homicide18
#homicide18.dtypes
#homicide17
#homicide17.dtypes
#homicide16
#homicide16.dtypes
#homicide15
#homicide15.dtypes
#homicide14
#homicide14.dtypes
#homicide_all
#homicide_all.dtypes

In [10]:
#create series with the date of each reported incident by primary type
robbery18 = cpdcrime2018_data[cpdcrime2018_data['Primary Type'] == "ROBBERY"]["Date"].reset_index()
robbery17 = cpdcrime2017_data[cpdcrime2017_data['Primary Type'] == "ROBBERY"]["Date"].reset_index()
robbery16 = cpdcrime2016_data[cpdcrime2016_data['Primary Type'] == "ROBBERY"]["Date"].reset_index()
robbery15 = cpdcrime2015_data[cpdcrime2015_data['Primary Type'] == "ROBBERY"]["Date"].reset_index()
robbery14 = cpdcrime2014_data[cpdcrime2014_data['Primary Type'] == "ROBBERY"]["Date"].reset_index()

#format date in dataframe to be mergeable with weather data 
robbery18['Date'] = pd.to_datetime(robbery18['Date']).dt.date
robbery18['Date'] = pd.to_datetime(robbery18['Date'], infer_datetime_format=True)
robbery17['Date'] = pd.to_datetime(robbery17['Date']).dt.date
robbery17['Date'] = pd.to_datetime(robbery17['Date'], infer_datetime_format=True)
robbery16['Date'] = pd.to_datetime(robbery16['Date']).dt.date
robbery16['Date'] = pd.to_datetime(robbery16['Date'], infer_datetime_format=True)
robbery15['Date'] = pd.to_datetime(robbery15['Date']).dt.date
robbery15['Date'] = pd.to_datetime(robbery15['Date'], infer_datetime_format=True)
robbery14['Date'] = pd.to_datetime(robbery14['Date']).dt.date
robbery14['Date'] = pd.to_datetime(robbery14['Date'], infer_datetime_format=True)

#sort date data for chronological order
robbery18.sort_values("Date", inplace=True)
robbery17.sort_values("Date", inplace=True)
robbery16.sort_values("Date", inplace=True)
robbery15.sort_values("Date", inplace=True)
robbery14.sort_values("Date", inplace=True)

#delete unnecessary index column
del robbery18['index']
del robbery17['index']
del robbery16['index']
del robbery15['index']
del robbery14['index']

#merge all reported robbery incidents for all five years
robbery_all = robbery18.append([robbery17, robbery16, robbery15, robbery14])

In [11]:
#use to check output
#robbery18
#robbery18.dtypes
#robbery17
#robbery17.dtypes
#robbery16
#robbery16.dtypes
#robbery15
#robbery15.dtypes
#robbery14
#robbery14.dtypes
#robbery_all
#robbery_all.dtypes

In [13]:
temp_robbery18 = robbery18
temp_robbery18

           Date
9682 2018-01-01
9562 2018-01-01
9648 2018-01-01
40   2018-01-01
9646 2018-01-01
9645 2018-01-01
9644 2018-01-01
9061 2018-01-01
9643 2018-01-01
9641 2018-01-01
9388 2018-01-01
9640 2018-01-01
9639 2018-01-01
9630 2018-01-01
9627 2018-01-01
9642 2018-01-01
9656 2018-01-01
9647 2018-01-01
9675 2018-01-01
9671 2018-01-01
9672 2018-01-01
9673 2018-01-01
9674 2018-01-01
9676 2018-01-01
9677 2018-01-01
9678 2018-01-01
9670 2018-01-01
9669 2018-01-01
9679 2018-01-01
9680 2018-01-01
...         ...
170  2018-12-31
163  2018-12-31
164  2018-12-31
165  2018-12-31
166  2018-12-31
167  2018-12-31
161  2018-12-31
160  2018-12-31
122  2018-12-31
121  2018-12-31
120  2018-12-31
195  2018-12-31
50   2018-12-31
198  2018-12-31
199  2018-12-31
200  2018-12-31
201  2018-12-31
202  2018-12-31
151  2018-12-31
203  2018-12-31
109  2018-12-31
205  2018-12-31
206  2018-12-31
210  2018-12-31
179  2018-12-31
177  2018-12-31
176  2018-12-31
149  2018-12-31
204  2018-12-31
209  2018-12-31

[9683 rows x 1 columns]

In [ ]:
groupdate_robbery18 = robbery18
groupdate_robbery17 = robbery17
groupdate_robbery16 = robbery16
groupdate_robbery15 = robbery15
groupdate_robbery14 = robbery14

#create number of reported incidents by date 
groupdate_robbery18['Reported Incidents'] = groupdate_robbery18['Date'].map(groupdate_robbery18['Date'].value_counts())
groupdate_robbery17['Reported Incidents'] = groupdate_robbery17['Date'].map(groupdate_robbery17['Date'].value_counts())
groupdate_robbery16['Reported Incidents'] = groupdate_robbery16['Date'].map(groupdate_robbery16['Date'].value_counts())
groupdate_robbery15['Reported Incidents'] = groupdate_robbery15['Date'].map(groupdate_robbery15['Date'].value_counts())
groupdate_robbery14['Reported Incidents'] = groupdate_robbery14['Date'].map(groupdate_robbery14['Date'].value_counts())

#set index to date and drop duplicate data
groupdate_robbery18.set_index('Date')
groupdate_robbery18.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
groupdate_robbery17.set_index('Date')
groupdate_robbery17.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
groupdate_robbery16.set_index('Date')
groupdate_robbery16.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
groupdate_robbery15.set_index('Date')
groupdate_robbery15.drop_duplicates(subset ="Date", keep = 'first', inplace = True)
groupdate_robbery14.set_index('Date')
groupdate_robbery14.drop_duplicates(subset ="Date", keep = 'first', inplace = True)

In [ ]:
#begin OpenWeatherMap data

In [ ]:
#empty lists
Datetime = []
Max_Temp = []
Humidity = []
Cloudiness = []

In [ ]:
#json file path and reader
file = open("weather_data.json")
json_data = json.load(file)

In [ ]:
#loop to grab the appropriate handles within .json file and append values to correlating empty lists
for each in json_data["values"]:
        Datetime.append(each["dt"])
        Max_Temp.append(each["main"]["temp_max"])
        Humidity.append(each["main"]["humidity"])
        Cloudiness.append(each["clouds"]["all"])

In [ ]:
#creating dataframe from updated lists
weather_df1 = pd.DataFrame({"Datetime": Datetime,
                            "Max_Temp": Max_Temp,
                            "Humidity": Humidity,
                            "Cloudiness": Cloudiness})

weather_df1.head()

In [ ]:
#converting unix timestamp to readable datetime
weather_df1["Datetime"]=pd.to_datetime(weather_df1["Datetime"],unit='s')
weather_df1.head(5)

In [ ]:
#creating new date column from datetime.
weather_df1["Date"] = pd.to_datetime(weather_df1['Datetime']).dt.date
weather_df1["Date"] = pd.to_datetime(weather_df1['Date'], infer_datetime_format=True)

#from the newly created date column, splitting values into new month, day, and year columns.
weather_df1['Month'] = weather_df1['Date'].dt.month
weather_df1['Day'] = weather_df1['Date'].dt.day
weather_df1['Year'] = weather_df1['Date'].dt.year

weather_df1.head()

In [ ]:
#converting Kelvin to Fahrenheit and putting values into new column
weather_df1["Max_Temp_(F)"]=pyt.k2f(weather_df1["Max_Temp"])
weather_df1.head()

In [ ]:
# delete old Max_Temp and Datetime columns
del weather_df1["Max_Temp"]
del weather_df1["Datetime"]
weather_df1.head()

In [ ]:
#grouping by date and calling the mean of other columns
weather_df2 = pd.DataFrame(weather_df1.groupby("Date")["Humidity", "Cloudiness", "Max_Temp_(F)", "Month", "Day", "Year"].mean())
weather_df2.head()

In [ ]:
pd.to_datetime('2014-10-14')
weather_df2.loc[pd.to_datetime('2014-07-26')]

In [ ]:
#begin merging CPD crime data with weather data

In [ ]:
#combine weather data into crime incident data for final dataframes
weatherbattery18 = battery18.merge(weather_df2, how='left', on='Date')
weatherbattery17 = battery17.merge(weather_df2, how='left', on='Date')
weatherbattery16 = battery16.merge(weather_df2, how='left', on='Date')
weatherbattery15 = battery15.merge(weather_df2, how='left', on='Date')
weatherbattery14 = battery14.merge(weather_df2, how='left', on='Date')
weatherbatteryall = battery_all.merge(weather_df2, how='left', on='Date')

#calculate number of NaN values then drop them
weatherbattery18nan = pd.isnull(weatherbattery18).sum()
weatherbattery18 = weatherbattery18.dropna(how='any')
weatherbattery17nan = pd.isnull(weatherbattery17).sum()
weatherbattery17 = weatherbattery17.dropna(how='any')
weatherbattery16nan = pd.isnull(weatherbattery16).sum()
weatherbattery16 = weatherbattery16.dropna(how='any')
weatherbattery15nan = pd.isnull(weatherbattery15).sum()
weatherbattery15 = weatherbattery15.dropna(how='any')
weatherbattery14nan = pd.isnull(weatherbattery14).sum()
weatherbattery14 = weatherbattery14.dropna(how='any')
weatherbatteryallnan = pd.isnull(weatherbatteryall).sum()
weatherbatteryall = weatherbatteryall.dropna(how='any')

In [ ]:
#use to check outputs
#weatherbattery18nan
#weatherbattery18
#weatherbattery17nan
#weatherbattery17
#weatherbattery16nan
#weatherbattery16
#weatherbattery15nan
#weatherbattery15
#weatherbattery14nan
#weatherbattery14
#weatherbatteryallnan
#weatherbatteryall

In [ ]:
#combine weather data into crime incident data for final dataframes
weathercsa18 = csa18.merge(weather_df2, how='left', on='Date')
weathercsa17 = csa17.merge(weather_df2, how='left', on='Date')
weathercsa16 = csa16.merge(weather_df2, how='left', on='Date')
weathercsa15 = csa15.merge(weather_df2, how='left', on='Date')
weathercsa14 = csa14.merge(weather_df2, how='left', on='Date')
weathercsaall = csa_all.merge(weather_df2, how='left', on='Date')

#calculate number of NaN values then drop them
weathercsa18nan = pd.isnull(weathercsa18).sum()
weathercsa18 = weathercsa18.dropna(how='any')
weathercsa17nan = pd.isnull(weathercsa17).sum()
weathercsa17 = weathercsa17.dropna(how='any')
weathercsa16nan = pd.isnull(weathercsa16).sum()
weathercsa16 = weathercsa16.dropna(how='any')
weathercsa15nan = pd.isnull(weathercsa15).sum()
weathercsa15 = weathercsa15.dropna(how='any')
weathercsa14nan = pd.isnull(weathercsa14).sum()
weathercsa14 = weathercsa14.dropna(how='any')
weathercsaallnan = pd.isnull(weathercsaall).sum()
weathercsaall = weathercsaall.dropna(how='any')

In [ ]:
#use to check outputs
#weathercsa18nan
#weathercsa18
#weathercsa17nan
#weathercsa17
#weathercsa16nan
#weathercsa16
#weathercsa15nan
#weathercsa15
#weathercsa14nan
#weathercsa14
#weathercsaallnan
#weathercsaall

In [ ]:
#combine weather data into crime incident data for final dataframes
weatherhomicide18 = homicide18.merge(weather_df2, how='left', on='Date')
weatherhomicide17 = homicide17.merge(weather_df2, how='left', on='Date')
weatherhomicide16 = homicide16.merge(weather_df2, how='left', on='Date')
weatherhomicide15 = homicide15.merge(weather_df2, how='left', on='Date')
weatherhomicide14 = homicide14.merge(weather_df2, how='left', on='Date')
weatherhomicideall = homicide_all.merge(weather_df2, how='left', on='Date')

#calculate number of NaN values then drop them
weatherhomicide18nan = pd.isnull(weatherhomicide18).sum()
weatherhomicide18 = weatherhomicide18.dropna(how='any')
weatherhomicide17nan = pd.isnull(weatherhomicide17).sum()
weatherhomicide17 = weatherhomicide17.dropna(how='any')
weatherhomicide16nan = pd.isnull(weatherhomicide16).sum()
weatherhomicide16 = weatherhomicide16.dropna(how='any')
weatherhomicide15nan = pd.isnull(weatherhomicide15).sum()
weatherhomicide15 = weatherhomicide15.dropna(how='any')
weatherhomicide14nan = pd.isnull(weatherhomicide14).sum()
weatherhomicide14 = weatherhomicide14.dropna(how='any')
weatherhomicideallnan = pd.isnull(weatherhomicideall).sum()
weatherhomicideall = weatherhomicideall.dropna(how='any')

In [14]:
#use to check outputs
#weatherhomicide18nan
#weatherhomicide18
#weatherhomicide17nan
#weatherhomicide17
#weatherhomicide16nan
#weatherhomicide16
#weatherhomicide15nan
#weatherhomicide15
#weatherhomicide14nan
weatherhomicide14
#weatherhomicideallnan
#weatherhomicideall

NameError: name 'weatherhomicide14' is not defined

In [ ]:
#combine weather data into crime incident data for final dataframes
weatherrobbery18 = robbery18.merge(weather_df2, how='left', on='Date')
weatherrobbery17 = robbery17.merge(weather_df2, how='left', on='Date')
weatherrobbery16 = robbery16.merge(weather_df2, how='left', on='Date')
weatherrobbery15 = robbery15.merge(weather_df2, how='left', on='Date')
weatherrobbery14 = robbery14.merge(weather_df2, how='left', on='Date')
weatherrobberyall = robbery_all.merge(weather_df2, how='left', on='Date')

#calculate number of NaN values then drop them
weatherrobbery18nan = pd.isnull(weatherrobbery18).sum()
weatherrobbery18 = weatherrobbery18.dropna(how='any')
weatherrobbery17nan = pd.isnull(weatherrobbery17).sum()
weatherrobbery17 = weatherrobbery17.dropna(how='any')
weatherrobbery16nan = pd.isnull(weatherrobbery16).sum()
weatherrobbery16 = weatherrobbery16.dropna(how='any')
weatherrobbery15nan = pd.isnull(weatherrobbery15).sum()
weatherrobbery15 = weatherrobbery15.dropna(how='any')
weatherrobbery14nan = pd.isnull(weatherrobbery14).sum()
weatherrobbery14 = weatherrobbery14.dropna(how='any')
weatherrobberyallnan = pd.isnull(weatherrobberyall).sum()
weatherrobberyall = weatherrobberyall.dropna(how='any')

In [ ]:
#use to check outputs
#weatherrobbery18nan
#weatherrobbery18
#weatherrobbery17nan
#weatherrobbery17
#weatherrobbery16nan
#weatherrobbery16
#weatherrobbery15nan
#weatherrobbery15
#weatherrobbery14nan
#weatherrobbery14
#weatherrobberyall

In [ ]:
#temperature vs time
plt.figure()
fig, ax = plt.subplots(figsize=(15,10))
for y in weatherbatteryall['Year'].unique().tolist():
   dat = weatherbatteryall[weatherbatteryall['Year']==y]
   dat = dat[['Year','Month','Max_Temp_(F)']].drop_duplicates()
   dat = pd.DataFrame(dat.groupby(['Year','Month'])['Max_Temp_(F)'].mean()) 
   temps = [x[0] for x in dat.values.tolist()]
   dates = dat.index.levels[1].tolist() 
   ax.plot(dates,temps,label=y)
plt.xticks(weatherbatteryall[weatherbatteryall['Year']==2018]['Month'].unique().tolist())
plt.xlabel('Month')
plt.ylabel("Average Temperature(F)")
plt.legend()
plt.grid()
plt.show()