In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime
import json
import csv
import pytemperature as pyt
from pprint import pprint

# Import API key
from api_keys import api_key

In [2]:
Datetime = []
Weather = []
Max_Temp = []
Humidity = []
Cloudiness = []

In [3]:
file = open("weather_data.json")
json_data = json.load(file)
# print(json.dumps(json_data, indent=4, sort_keys=True))
# print(json_data["values"][1]["main"]["temp"])

In [4]:
for each in json_data["values"]:
    Datetime.append(each["dt"])
    Weather.append(each["weather"][0]["main"])
    Max_Temp.append(each["main"]["temp_max"])
    Humidity.append(each["main"]["humidity"])
    Cloudiness.append(each["clouds"]["all"])

In [18]:
weather_df1 = pd.DataFrame({"Datetime": Datetime,
                                  "Weather": Weather,
                                  "Max_Temp": Max_Temp,
                                  "Humidity": Humidity,
                                  "Cloudiness": Cloudiness})

weather_df1.head(24)

      Datetime Weather  Max_Temp  Humidity  Cloudiness
0   1349096400  Clouds    287.59        71          90
1   1349186400  Clouds    288.71        62          90
2   1349190000  Clouds    290.37        51          90
3   1349193600   Clear    290.93         0          92
4   1349197200   Clear    292.04         0          92
5   1349200800  Clouds    292.59        42          90
6   1349204400   Clear    292.15         0         100
7   1349208000   Clear    291.15         0         100
8   1349211600   Clear    291.15         0         100
9   1349215200  Clouds    290.37        48          90
10  1349218800  Clouds    290.15        48          90
11  1349222400  Clouds    289.26        55          90
12  1349226000  Clouds    290.15        55          90
13  1349229600  Clouds    290.15        59          90
14  1349233200  Clouds    290.15        63          90
15  1349236800  Clouds    289.26        63          90
16  1349240400  Clouds    289.82        63          90
17  1349244000  Clouds    289.82        67          75
18  1349247600  Clouds    289.82        67          90
19  1349251200   Clear    289.82         0         100
20  1349254800  Clouds    289.82        72          90
21  1349258400  Clouds    289.82        72          90
22  1349262000   Clear    289.82         0         100
23  1349269200  Clouds    290.93        59          75

In [3]:
# print(json.dumps(response, indent=4, sort_keys=True))

{
    "cod": 401,
    "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."
}

In [6]:
weather_df1["Datetime"]=pd.to_datetime(weather_df1["Datetime"],unit='s')
weather_df1.head(5)

             Datetime Weather  Max_Temp  Humidity  Cloudiness
0 2012-10-01 13:00:00  Clouds    287.59        71          90
1 2012-10-02 14:00:00  Clouds    288.71        62          90
2 2012-10-02 15:00:00  Clouds    290.37        51          90
3 2012-10-02 16:00:00   Clear    290.93         0          92
4 2012-10-02 17:00:00   Clear    292.04         0          92

In [7]:
weather_df1["Date"] = [d.date() for d in weather_df1["Datetime"]]
weather_df1["Time"] = [d.time() for d in weather_df1["Datetime"]]

weather_df1.head()

,Datetime,Weather,Max_Temp,Humidity,Cloudiness,Date,Time
0,2012-10-01 13:00:00,Clouds,287.59,71,90,2012-10-01,13:00:00
1,2012-10-02 14:00:00,Clouds,288.71,62,90,2012-10-02,14:00:00
2,2012-10-02 15:00:00,Clouds,290.37,51,90,2012-10-02,15:00:00
3,2012-10-02 16:00:00,Clear,290.93,0,92,2012-10-02,16:00:00
4,2012-10-02 17:00:00,Clear,292.04,0,92,2012-10-02,17:00:00

In [8]:
weather_df1["Max_Temp_(F)"]=pyt.k2f(weather_df1["Max_Temp"])
weather_df1.head()

,Datetime,Weather,Max_Temp,Humidity,Cloudiness,Date,Time,Max_Temp_(F)
0,2012-10-01 13:00:00,Clouds,287.59,71,90,2012-10-01,13:00:00,57.97
1,2012-10-02 14:00:00,Clouds,288.71,62,90,2012-10-02,14:00:00,59.99
2,2012-10-02 15:00:00,Clouds,290.37,51,90,2012-10-02,15:00:00,62.98
3,2012-10-02 16:00:00,Clear,290.93,0,92,2012-10-02,16:00:00,63.98
4,2012-10-02 17:00:00,Clear,292.04,0,92,2012-10-02,17:00:00,65.98

In [9]:
weather_df2=weather_df1.drop(columns=["Max_Temp"])
weather_df2.head(6)

,Datetime,Weather,Humidity,Cloudiness,Date,Time,Max_Temp_(F)
0,2012-10-01 13:00:00,Clouds,71,90,2012-10-01,13:00:00,57.97
1,2012-10-02 14:00:00,Clouds,62,90,2012-10-02,14:00:00,59.99
2,2012-10-02 15:00:00,Clouds,51,90,2012-10-02,15:00:00,62.98
3,2012-10-02 16:00:00,Clear,0,92,2012-10-02,16:00:00,63.98
4,2012-10-02 17:00:00,Clear,0,92,2012-10-02,17:00:00,65.98
5,2012-10-02 18:00:00,Clouds,42,90,2012-10-02,18:00:00,66.97

In [16]:
# weather_df2[weather_df2.Time == "18:00:00"]
weather_df2.Time == ""

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
42613    False
42614    False
42615    False
42616    False
42617    False
42618    False
42619    False
42620    False
42621    False
42622    False
42623    False
42624    False
42625    False
42626    False
42627    False
42628    False
42629    False
42630    False
42631    False
42632    False
42633    False
42634    False
42635    False
42636    False
42637    False
42638    False
42639    False
42640    False
42641    False
42642    False
Name: Time, Length: 42643, dtype: bool