In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime as dt
import json
import csv
import pytemperature as pyt
from pprint import pprint

# Import API key
from api_keys import api_key

In [2]:
Datetime = []
Max_Temp = []
Humidity = []
Cloudiness = []

In [3]:
file = open("weather_data.json")
json_data = json.load(file)

In [4]:
for each in json_data["values"]:
    Datetime.append(each["dt"])
    Max_Temp.append(each["main"]["temp_max"])
    Humidity.append(each["main"]["humidity"])
    Cloudiness.append(each["clouds"]["all"])

In [5]:
weather_df1 = pd.DataFrame({"Datetime": Datetime,
                            "Max_Temp": Max_Temp,
                            "Humidity": Humidity,
                            "Cloudiness": Cloudiness})

weather_df1.head()

     Datetime  Max_Temp  Humidity  Cloudiness
0  1349096400    287.59        71          90
1  1349186400    288.71        62          90
2  1349190000    290.37        51          90
3  1349193600    290.93         0          92
4  1349197200    292.04         0          92

In [6]:
weather_df1["Datetime"]=pd.to_datetime(weather_df1["Datetime"],unit='s')
weather_df1.head(5)

             Datetime  Max_Temp  Humidity  Cloudiness
0 2012-10-01 13:00:00    287.59        71          90
1 2012-10-02 14:00:00    288.71        62          90
2 2012-10-02 15:00:00    290.37        51          90
3 2012-10-02 16:00:00    290.93         0          92
4 2012-10-02 17:00:00    292.04         0          92

In [7]:
weather_df1["Date"] = pd.to_datetime(weather_df1['Datetime']).dt.date
weather_df1["Date"] = pd.to_datetime(weather_df1['Date'], infer_datetime_format=True)
weather_df1["Time"] = pd.to_datetime(weather_df1['Datetime']).dt.time
weather_df1["Time"] = pd.to_datetime(weather_df1['Datetime'], infer_datetime_format=True)


weather_df1.head()

,Datetime,Max_Temp,Humidity,Cloudiness,Date,Time
0,2012-10-01 13:00:00,287.59,71,90,2012-10-01,2012-10-01 13:00:00
1,2012-10-02 14:00:00,288.71,62,90,2012-10-02,2012-10-02 14:00:00
2,2012-10-02 15:00:00,290.37,51,90,2012-10-02,2012-10-02 15:00:00
3,2012-10-02 16:00:00,290.93,0,92,2012-10-02,2012-10-02 16:00:00
4,2012-10-02 17:00:00,292.04,0,92,2012-10-02,2012-10-02 17:00:00

In [8]:
weather_df1["Max_Temp_(F)"]=pyt.k2f(weather_df1["Max_Temp"])
weather_df1.head()

,Datetime,Max_Temp,Humidity,Cloudiness,Date,Time,Max_Temp_(F)
0,2012-10-01 13:00:00,287.59,71,90,2012-10-01,2012-10-01 13:00:00,57.97
1,2012-10-02 14:00:00,288.71,62,90,2012-10-02,2012-10-02 14:00:00,59.99
2,2012-10-02 15:00:00,290.37,51,90,2012-10-02,2012-10-02 15:00:00,62.98
3,2012-10-02 16:00:00,290.93,0,92,2012-10-02,2012-10-02 16:00:00,63.98
4,2012-10-02 17:00:00,292.04,0,92,2012-10-02,2012-10-02 17:00:00,65.98

In [9]:
# del weather_df1['Datetime']
del weather_df1["Max_Temp"]
del weather_df1["Datetime"]
weather_df1.head()

   Humidity  Cloudiness       Date                Time  Max_Temp_(F)
0        71          90 2012-10-01 2012-10-01 13:00:00         57.97
1        62          90 2012-10-02 2012-10-02 14:00:00         59.99
2        51          90 2012-10-02 2012-10-02 15:00:00         62.98
3         0          92 2012-10-02 2012-10-02 16:00:00         63.98
4         0          92 2012-10-02 2012-10-02 17:00:00         65.98

In [18]:
weather_df2 = pd.DataFrame(weather_df1.groupby("Date")["Humidity", "Cloudiness", "Max_Temp_(F)"].mean())
weather_df2.head()

             Humidity  Cloudiness  Max_Temp_(F)
Date
2012-10-01  71.000000   90.000000     57.970000
2012-10-02  25.100000   93.400000     64.040000
2012-10-03  50.550000   72.000000     64.363500
2012-10-04  66.916667   75.125000     64.404167
2012-10-05  65.863636   48.272727     68.235909